<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Location</title>
</head>
<body>
    <script>

        window.onload = getXY;

        function getXY() {
            var url = window.location.href;
            var xy = url.split("=");
            var x = xy[1].slice(0, xy[1].length - 1);
            var y = xy[2];
        }
        

    </script>

    <form action="/LocationAdded" method="get">
        ID:<input type="number" name="location_id">
        <br/>
        Name:<input type="text" name="location_name">
        <br/>
        Description:<input type="text" name="location_description">
        <br/>
        <br/>
        Enter up to 6 image file locations (1 is required)
        <br/>
        img1:<input type="text" name="img1">
        <br/>
        img2:<input type="text" name="img1">
        <br/>
        img3:<input type="text" name="img1">
        <br/>
        img4:<input type="text" name="img1">
        <br/>
        img5:<input type="text" name="img1">
        <br/>
        img6:<input type="text" name="img1">
        <br/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>