<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Location</title>
</head>
<body>

    <form action="/LocationAdded" method="get">
        <h3>Add new location at x={{ x }} and y={{ y }}</h3>
        <p>Name:</p><input type="text" name="location_name">
        <br/>
        <p>Description:</p><input type="text" name="location_description">
        <br/>
        <input type="submit" value="Submit"/>
    </form>

    <h1>Location List</h1>
    <ul>
        {% for entry in entries %}
        <li>
            {{ entry.location_id }} - {{ entry.location_name }} - {{ entry.location_description }} - {{ entry.location_x }} - {{ entry.location_y }}
        </li>
        {% else %}
        <li>Shit, something went wrong</li>
        {% endfor %}
    </ul>

    <br/>

    <h1>Picture List</h1>
    <ul>
        {% for pic in pictures %}
        <li>
            {{ pic.location_id }} - {{ pic.file_location }}
        </li>
        {% else %}
        <li>Shit, something went wrong</li>
        {% endfor %}
    </ul>

</body>
</html>