<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Location</title>
</head>
<body>
    <script>
        function delete-location(location_id){
            window.open("DeleteLocation?id=" + location_id, "_self");
        }
    </script>

    <form action="/LocationAdded" method="get">
        <h3>Add new location at x={{ x }} and y={{ y }}</h3>
        <p>Name:</p><input type="text" name="location_name">
        <br/>
        <p>Description:</p><input type="text" name="location_description">
        <br/>
        <input type="submit" value="Submit"/>
    </form>

    <h1>Location List</h1>
    <ul>
        {% for entry in entries %}
        <li>
            {{ entry.location_id }} - {{ entry.location_name }} - {{ entry.location_description }} - {{ entry.location_x }} - {{ entry.location_y }}
        </li>
        {% else %}
        <li>No Locations</li>
        {% endfor %}
    </ul>

    <form action="/DeleteLocation">
        <h1>Delete Location</h1>
        <p>Location Id:</p><input type="number" name="location_id"/>
        <input type="submit" value="Delete">
    </form>
    <form action="/">
            <input type="submit" value="Map">
    </form>
</body>
</html>