<!doctype html>

<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Virtual Tour</title>
      <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    </head>

    <body>
        <h3>Crested Butte Virtual Tour</h3>
        <img class = "map" src="https://skimap.org/data/514/1615/1386615966jpg_render.jpg" style = "width:824px;height:618px;"> <br>
    </body>
</html>