<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Virtual Tour</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>

<script>

    var mode = 0;


    function photoClick(event) {
        if (mode == 1){
            var x = event.clientX;
            var y = event.clientY;
            //alert("X cord: " + x + " " + "Y cord: " + y);
            window.open("AddLocation?x=" + x +"&y=" + y, "_self");
        }
    }

    function switchAddMode() {
        b = document.getElementById('addButton');
        if (mode == 0) {
            mode = 1;
            b.innerHTML = 'Add Locations';
        }
        else if (mode == 1) {
            mode = 2;
            b.innerHTML = "Delete Locations"
        }
        else {
            mode = 0;
            b.innerHTML = 'View Locations';
        }
    }

</script>


<body>
    <table>
        <tr>
            <td>
                <h2>Crested Butte Resort Virtual Tour</h2>
            </td>
            <td style="padding-top: 3px; padding-left: 20em">
                <button type="button" id="addButton" onclick="switchAddMode()">View Locations</button>
            </td>
        </tr>
    </table>

    <img src="\static\imgs\cb_map.jpg" alt="map" onclick="photoClick(event)" style="width:824px;height:618px;" /> <br>

    {% if entries %}
        {% for entry in entries %}
            <img style="position:absolute; TOP:{{ entry.location_y }}px; LEFT:{{ entry.location_x }}px" src="\static\imgs\pin.png" id="{{ entry.location_id }}">
        {% endfor %}
    {% endif %}
</body>


</html>